[user]
	name = Seth Pendergrass
	email = 8273706+pens@users.noreply.github.com
	signingkey = BF1CFE3682B85EE4
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore_global
[commit]
	gpgsign = true
