[commit]
    gpgsign = true
[core]
    editor = vi
    excludesFile = ~/.gitignore_global
    pager = less -x4
[init]
    defaultBranch = main
[pull]
    rebase = true
[user]
    name = Seth Pendergrass
    email = 8273706+pens@users.noreply.github.com
    signingkey = BF1CFE3682B85EE4
[alias]
    br = branch
	ci = commit
	cia = commit --amend
	cian = commit --amend --no-edit
    co = checkout
    cp = cherry-pick
    rb = rebase
    rbi = rebase -i
    rs = reset
    rss = reset --soft
    st = status
    sw = switch
[push]
	autoSetupRemote = true
[include]
    path = ~/work/.gitconfig
