[commit]
    gpgsign = true
[core]
    editor = vi
    excludesFile = ~/.gitignore_global
    pager = less -x4
[init]
    defaultBranch = main
[pull]
    rebase = true
[user]
    name = Seth Pendergrass
    email = 8273706+pens@users.noreply.github.com
    signingkey = BF1CFE3682B85EE4
[include]
    path = ~/.work.gitconfig
[alias]
	ci = commit
	cia = commit --amend
	cian = commit --amend --no-edit
[push]
	autoSetupRemote = true
